body {
    width: 950px;
    margin: 0 auto;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    line-height: 1.5;
}

header {
    position: relative;
    margin-bottom: 20px;
}

.logo {
    width: 230px;
    height: 85px;
}

.carrinho {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
}

nav {
    background-color: #333;
    padding: 10px;
    margin-top: 10px;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline-block;
    margin-right: 15px;
}
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.tituloSobre {
    background-color: #B3B3B0;
    height: 55px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-weight: 900;
    font-size: 25px;
    margin-bottom: 20px;
}

.textoSobre,
.texto-baixo {
    width: 900px;
    margin-top: 0px;
    font-size: 16px;
    margin-left: 25px;
    margin-bottom: 15px;
}

.centro-distribuicao {
    margin: 0 auto;
    text-align: center;
    display: block;
    margin-bottom: 40px;
}
